@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .max-width {
    @apply max-w-[1440px] mx-auto md:px-16 px-6;
  }

  .label{
    @apply text-xl text-light-grey
  }
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}